@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');

*{   
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
        
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}
div{
     /* border: rgb(236, 8, 8) solid 1px;  */
}
body {   
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;    
}

header{
    padding: 20px 0;
    width: 100%;
    background: #00255e;
    margin-top: -4px;
    }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem-propaganda{
    width: 100%;
    height: 100%;
}
.logo{
    border-style: none;
    outline: 0; 
    margin-right: 50px;
}
.search-bar{
    height: 40px;
    width: 424px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-radius: 5px;
}
.input-search-bar{
    background-color: transparent;
    border-color: transparent;
    height: 80%;
    width: 91%;
    outline: none;
}
.ajuda{
    font-size: 14px;
    color: white;
    font-weight: 550;
    padding-left:32px ;
}
.ponto{    
    color: orange;
    font-size: 25px;
    margin: 16px;

}
.engrenagem{
    
    color: orange;
    font-size: 33px;
}
.lateral-esquerda{
    display: flex;
align-items: center;
}
.palavras{
    display: block;
    font-size: 15px;
    font-weight: 600;    
    margin-left: 11px;
}
.minha-conta{
    color: orange;
    margin-top: -4px;
}
.acessar{
    color: white;
}
.carrinho{
    color: white;
    padding-left: 30px;
}
.carrinhoedit{
    font-size: 30px!important; 
}
.zero{
    color:#ff6f00;
}
.gavetas{
    display: flex;
    justify-content: center;
    background-color: #ff6f00;
    height: 60px;
    font-weight: 700;
    align-items: center;
    font-size: 17px;
    color: #00255e;
}
.botoes{

    padding: 0px 15px;
}
.container-img{
    
    width: 100%;
    max-width: 1170px;
    margin: 0 126.5px;
    margin-bottom: 30px;

}
.anuncio{
    height: 365.94;
    width: 1170px;
}
.container-main{
    margin: 0 126.500px;
}
.banner-home{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 30px;
}
.divbanner-img{
    margin-right: 15px;
    height: 324px;
}
.selo{
    position: fixed;
    top: 673px;
    left: -9px;
    padding: 10px;
    z-index: 10000000;
}
.title-bar{
    clear: both;
    margin: 0 0 40px;
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

h2{
    position: relative;
    float: left;
    clear: both;
    width: auto;
    margin: 0 15px 0 0;
    padding: 10px 30px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 26px;
    color: #00255e;
}
 .barra{
    background-color: orange;
    padding: 1px;
    width: 19px;
    height: 4px;
    display: flex;
    align-items: center;
 }
 .leao{
     display: flex;

 }
 .leaozinho{
     padding: 15px;
 }
 .chamativos{
    display: grid;
    position: absolute;
    width: 17%;
 }
 .so-hoje{
    
    float: right;
    width: 153px;
    background: #ffba3c;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .desconto{
    background: #cc5900;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 3px 6px;
    width: max-content;
 }
 .tag-selo-promo{
    display: flex;
    margin-bottom: 5px;
}    
 
 .preco-imbativel{
    width: 100%;
    background: #df0038;
    color: #fff;
     padding: 0 0 0 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    display: flex;
    align-items: center;
 }
 .lele{
    
    height: 301.16px;
 }
 .grid{
    display: grid;
 }
 .estrelinha{
    margin-top: 12px;
 }
 .infobox{
    padding: 15px;
 }
    .titulo-infobox{
        
    font-family: "Source Sans Pro",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    color: #00255e;
    }
 .precos{
    padding: 10px 0;
 }
 .preco-principal{
    color: #ff6f00;
    font-weight: bold;
    font-size: 26px;
 }
 .parcelamento{
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    color: gray;
    line-height: 1;
 }
 .preco-anterior{
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: line-through;
    text-decoration-color: silver;
 }
 .preco-dois{
     display: flex;
     justify-content: center;
    align-items: baseline;
 }
 .espaco{
    min-height: 29px;
 }
 .compra-rapida{ 
    background-color: transparent;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 12px;
    border-radius: 7px;
 }
 .hehe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 12px;
    border-radius: 7px;
    background-color: #ff6f00;
    color: black;
 }
 
 .machado{
     display: flex;
 }
 .hobbit{
     display: flex;
 }
.item:hover div.compra-rapida{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 12px;
    border-radius: 7px;
    background-color: #ff6f00;
    color: black;
}
.diario{
    display: flex;
}
 .segunda-imagem{
    height: 356.562px;
    width: 1140;
 }
 .saldao-ofertas{
    float: left;
    width: 100%;
    background: #EBF1F7;
    margin: 20px 0 0 0;
    padding: 70px 0;
}
.branco{
    float: left;
    width: 30%;
    background: #fff;
    margin: 0 15px;
    padding: 30px;
    -webkit-box-shadow: inset 0 0 0 1px #d9d9d9;
    -khtml-box-shadow: inset 0 0 0 1px #d9d9d9;
    -moz-box-shadow: inset 0 0 0 1px #d9d9d9;
    -ms-box-shadow: inset 0 0 0 1px #d9d9d9;
    -o-box-shadow: inset 0 0 0 1px #d9d9d9;
    box-shadow: inset 0 0 0 1px #d9d9d9;
    text-align: center;
}
 .categoria{
    font-weight: 400;
    color: gray;
 }
    .biblias{
        color: #00255e;
}
.imagem-brancodiv{
    padding: 0 50px;
}
.imagem-branco{
    height:247.266px;
}
.container2{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.titulo{
    display: block;
    margin: 0 0 35px 0;
    font-size: 16px;
    font-weight: 700;
}
.autores{
    padding: 70px 0;
    background-color: #ff6f00;
}
.container-autores{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.autor{
    display: table;
    margin: 0;
    width: 100%;
    text-align: center;
    
    padding: 0 7px;
}
.imagem-autores{
    display: inline-flex;
}
.espacinho{
    margin: 20px auto 10px;
    font-size: 20px;
    color: #fff;
}
.ver-livros{
    display: table;
    background: #fff;
    margin: 40px auto 0;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ff6f00;
    border: none;
}
.news-container{
    float: left;
    width: 100%;
    clear: both;
    margin: 0;
    padding: 20px 0;
    background: #00255e;
    font-family: "Source Sans Pro",sans-serif;
}
.titulo-footer{
    float: left;
    font-size: 36px;
    color: #ff6f00;
    margin: 0 20px 0 0;
    line-height: 1;
}